
<h1>Survey Results</h1>

<h3>Question 1 Responses</h3>
<%= pie_chart @data_for_question1 %>

<h3>Question 2 Responses</h3>
<%= pie_chart @data_for_question2 %>

<h1>Survey Responses Over Time</h1>
<%= bar_chart @data_for_chart %>

<h1>Survey Responses Over Time</h1>
<%= area_chart @data_for_chart %>